# Domain
DOMAIN_NAME=your-login.42.fr

# MariaDB / MySQL
MYSQL_DATABASE=change_mysql_database
MYSQL_ROOT_NAME=change_mysql_root_name
MYSQL_ROOT_PASSWORD=change_mysql_root_password
MYSQL_USER_NAME=change_mysql_user_name
MYSQL_USER_PASSWORD=change_mysql_user_password

# Wordpress
WP_TITLE=change_wp_title
WP_ADMIN_NAME=change_wp_admin_name
WP_ADMIN_PASSWORD=change_wp_admin_password
WP_ADMIN_EMAIL=change_wp_admin_email
WP_USER_NAME=change_wp_user_name
WP_USER_PASSWORD=change_wp_user_password
WP_USER_EMAIL=change_wp_user_email
